.image-header {
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
}

.title-header {
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    color: #054652;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.05rem;
}

.header-title-orange {
    color: #F78B00;
}


@media screen and (max-width: 650px) {
    .title-header {
        letter-spacing: 0;
        font-size: 30px;
        width: 80%;
    }
}