.desktop {
  background-color: #2a9d8f;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  min-height: 15rem;
  line-height: 2.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 4rem;
}

.icons {
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
}

.facebook,
.twitter,
.youtube {
  margin-right: 1.3rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    color: #054652;
    background-color: #2a9d8f;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 4rem;
  }

  .title {
    display: none;
  }

  .icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: start;
    color: white;
    margin: 3rem 0 0 1.2rem;
    padding-bottom: 1.5rem;
  }
}
