 .nextui-navbar, .nextui-navbar-container {
    border-radius: 46px !important;
    border: 0 !important;
}

.nextui-navbar {
    width: 70% !important;
    margin-top: 2rem !important;
}

b {
    font-size: 1.5rem;
    padding-left: 1rem;
}

@media screen and (max-width: 650px) {
    .nextui-navbar {
        width: 90% !important;
    }

    .nextui-navbar-link {
        display: none !important;
    }

    .nextui-navbar-brand {
        display: flex;
        justify-content: center;
        margin-left: 45%;
    }
}