.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer a,
.logo {
  color: #6f8b90;
}
.logo {
  display: flex;
}
.footer a {
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .footer,
  .footer a,
  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.2rem;
    line-height: 3rem;
  }

  .logo {
    flex-direction: row;
  }
}
